/*************************************************
 *                                               *
 *         THE FOLLOWING STYLES ARE FOR          *
 *              GLOBAL FOUNDATIONS               *
 *                                               *
 *************************************************/

/* FOUNDATIONS
-------------------------------------------------- */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-Serif;
}

/* FOUNDATIONS: Links
-------------------------------------------------- */
a {
  color: #0d590d;
  text-decoration: none;
}
a img {
  border: 0;
}

/* FOUNDATIONS: Misc (Re-usable) classes
-------------------------------------------------- */
.hide-from-print,
.back-to {
  display: none;
}

/* HEADER
-------------------------------------------------- */
#header #search_site,
#header .skip-to,
#header #main-nav,
#header #wishlist_container,
#header #cse-search-box,
#header #top-nav,
#header #main-nav,
#header #halo,
#header h2,
#breadcrumbs,
#seed_finder,
#quick-find {
  display: none;
}
#header h1 {
  float: left;
}
#header h2 {
  float: right;
  color: #0d590d;
  font-size: 18px;
  padding-top: 15px;
  margin-right: 30px;
  font-style: italic;
}

/* CONTENT ZONE
-------------------------------------------------- */
#content-zone {
  clear: both;
}
#content {
  padding-right: 19px;
}
#content-main {
  width: 455px;
  float: left;
}
#secondary-sidebar {
  float: right;
  text-align: center;
  width: 150px;
}

/* CONTENT: Table
-------------------------------------------------- */
#content table {
  width: 100%;
  margin-bottom: 10px;
}
#content table th {
  margin: 0px;
  padding: 5px 5px;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid #dfedcb;
}
#content table td {
  margin: 0px;
  padding: 5px 5px;
  font-size: 12px;
  border: 1px solid #dfedcb;
}

/* CONTENT: Misc
-------------------------------------------------- */
#content #flashvideo,
#content #download-box,
#content #intro img,
#content .msds,
#not-my-problem {
  display: none;
}

/* FOOTER
-------------------------------------------------- */
#footer {
  display: none;
}

/*************************************************
 *                                               *
 *    THE FOLLOWING STYLES ARE FOR CONTENT       *
 *                                               *
 *************************************************/

/* CONTENT: Headings
-------------------------------------------------- */
#content h1 {
  color: #00590d;
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
}
#content h2 {
  color: #d31145;
  font-size: 15px;
  margin: 0 0 10px 0;
  padding: 0;
}
#content h3 {
  color: #d31145;
  padding: 0;
  font-size: 17px;
  margin-bottom: 10px;
}
#content h4 {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

#content h2 a,
#content h3 a,
#content h2 a:visited,
#content h3 a:visited {
  color: #d31145;
  text-decoration: none;
}

#content h2 a:hover,
#content h3 a:hover {
  color: #8cc63f;
  text-decoration: underline;
}

/* CONTENT: Default Formatting
-------------------------------------------------- */
#content p {
  font-size: 12px;
  color: #505050;
  line-height: 16px;
  padding: 0;
  margin: 10px 0 10px 0;
}
#content p strong {
  color: #000;
}
#content ul,
#content ol {
  margin-left: 0;
  padding-left: 25px;
}
#content ul li,
#content ol li {
  font-size: 12px;
  color: #505050;
  margin: 10px 0 10px 0;
}

/* CONTENT: Special Headings
-------------------------------------------------- */
#content h4.parent a {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  color: #8cc63f;
}

/*************************************************
 *                                               *
 *    THE FOLLOWING STYLES ARE FOR SIDEBARS      *
 *                                               *
 *************************************************/

/* SECONDARY SIDE BAR
-------------------------------------------------- */
#problem-solver-detail #primary-sidebar {
  display: block;
}
#primary-sidebar solutions {
  display: block;
}

/* SECONDARY SIDE BAR
-------------------------------------------------- */
#secondary-sidebar .add-to-wishlist {
  display: none;
}

#secondary-sidebar img {
  width: 100px;
}

#secondary-sidebar .product-box {
  border: 1px solid #dfedcb;
}

#secondary-sidebar h5.section {
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  display: none;
}

#secondary-sidebar .sizes h4 {
  margin-top: 13px;
  font-weight: bold;
  color: #00590d;
}
#secondary-sidebar .sizes p {
  font-style: italic;
}
