.App {
  flex: 1 0 auto;
}

.App-contianer {
  min-height: 300vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.WebChat {
  width: 350px;
  height: 400px;
  position: fixed;
  bottom: 0%;
}

.bubble {
  margin-left: 0px;
}
